

<main>
    <section class="container">
        <div class="row">
            <% if(task){ %>

            <div class="col-12">
                <h2 class="text-danger">Project name: <%= task.projectName%></h2>
                <p class="lead">Project description: <%= task.projectDescription%></p>
                <p>Number of participants: <%= task.personsInvolved%></p>
                <p>Location: <%= task.location %></p>
                <p>Duration: <%= task.duration %></p>
                <span>From <%= task.from %></span>
                <span> To <%= task.to %></span>
                <p>You wrote this project on <%= task.date %></p>
            </div>

            <h3>Report</h3>
            <p><%= task.report %></p>
            <% } %>
        </div>
    </section>
</main>